<!DOCTYPE html>
<html>
<head>
    <title>Book Recommendations</title>
</head>
<body>
    <h1>Book Recommendations</h1>
    <a href="/">Back to Home</a>
    
    <table border="1">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Description</th>
        </tr>
        {% for book in books.values %}
        <tr>
            <td>{{ book[0] }}</td>
            <td>{{ book[1] }}</td>
            <td>{{ book[2] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
